/*Удаляем отступы по умолчанию во всем документе*/
* {
  margin: 0;
  padding: 0;
}
/*прокрутка будет не впритык к секции, а не доходя до нее 40px:*/
:target {
  scroll-margin-top: 40px;
}

/*Делаем плавную прокрутку при переходе по ссылкам на якоря*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: blanchedalmond;
}

section {
  margin-top: 30px;
}

#img_logo {
  width: 80%;
  max-width: 200px;
  height: 230px;

  border-radius: 50%;
}
.around {
  transform: rotate(1.5turn);
  background: linear-gradient(90deg, red, blue);
}

.container0 {
  display: flex;
  /*горизонтальное выравнивание*/
  justify-content: center;
}

.container1 {
  /* border: 3px solid red; */
  height: 3831px;
  width: 1184px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.container2 {
  /* border: 3px solid green; */
  position: sticky;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
  /* padding-bottom: 96px; */
  padding-top: 50px;
  top: 0px;
  width: 560px;
  @media (max-width: 1200px) {
    position: static;
    width: 100%;
  }
}

.container20 {
  position: sticky;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  max-height: 500px;
  padding-bottom: 96px;
  padding-top: 96px;

  width: 557px;
  @media (max-width: 1200px) {
    position: static;
    width: 100%;
  }
}

.container3 {
  /* border: 3px solid blue; */
  box-sizing: border-box;
  display: block;
  height: 3865px;
  padding-bottom: 96px;
  padding-top: 20px;
  width: 603px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.container0,
.container1,
.container2,
.container3,
header,
section,
table,
div {
  padding-left: 1%;
  padding-right: 1%;
}

mobileblocks {
  display: none;
}
.projects_container {
  display: flex;
  justify-content: normal;
  align-content: center;
  display: none;
  /* border: 3px solid yellow; */
  margin-top: 20px;
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}
.video_description {
  width: 250px;
  height: 150px;
  /* border: 3px solid #319e31; */
  @media (max-width: 1200px) {
    width: auto;
    height: 100%;
    align-content: center;
  }
}

.video_description img {
  /* border: 3px solid violet; */
  width: 172px;
  height: 150px;
  @media (max-width: 1200px) {
    width: 100%;
    height: inherit;
    align-content: center;
  }
}
.rest_description {
  width: 100%;
  height: auto;
  /* border: 3px solid blue; */
}

/*отследим переход по якорю и подсветить пользователю какой-то блок или еще что-то:*/
:target {
  color: yellow;
}

/* #experience {

    /*scroll-margin-top: 30px;*/
/* } */

.name_project {
  font-size: 25px;
}

.arrow4 {
  width: 20px;
}

.project_table th {
  border-bottom: 2px solid white;
}
.project_table td {
  border-bottom: 2px solid white;
  vertical-align: text-top;
}

.nav {
  list-style: none; /* Убираем кругляжки у элементов списка */

  /* padding: 0;
  margin: auto; */
}
.nav li {
  padding-top: 5px;
}
.nav li a {
  text-transform: uppercase;
  /* Делаем все буквы заглавными */
  color: white;
  /* Серый цвет текста */
  text-decoration: none;
  /* Убирает подчеркивание ссылки */
  padding: 5px;
  /* отступы сверху 10px, а по бокам 20 */
  white-space: nowrap;
}

.nav li a:hover {
  /* Задание эффекта при наведении на ссылку */
  background-color: #ffc744;
  color: black;
  border-radius: 5px;
}

#contacts img {
  /* border: 2px solid red; */
  margin: auto;
}

a {
  color: white;
  /* Серый цвет текста */
}

.thumbnail_stack {
  width: 15%;
}
/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .container0,
  .container1,
  .container2,
  .container3,
  header,
  section,
  table,
  div {
    padding-left: 2%;
    padding-right: 2%;
  }

  /* Защита от горизонтального скролла */
  body {
    overflow-x: hidden;
  }
  .project_table {
    display: none;
  }
  mobileblocks {
    display: block;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .str {
    display: block;
    margin: 0 0 12px 0;
    border: 1px solid #ddd;
    padding: 0;
  }
  .str table {
    width: 100%;
    border-collapse: collapse;
  }
  .str tr {
    display: table-row;
  }
  .str td {
    border: none;
    /* padding: 6px 8px; */
    vertical-align: middle;
  }
  .str td.head {
    font-weight: bold;
    /* background: #f7f7f7; */
  }

  th,
  td {
    /* border: 1px solid #ddd; */
    padding: 3px;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    color: blanchedalmond;
    max-width: 0;
  }
  td.head {
    width: 20%;
    font-weight: bold;
  }
}
