* {
  box-sizing: border-box;
  font-family: sans-serif;
  /* Удаление засечек у букв */
}

.container {
  width: auto;
  margin: 0 auto;
  display: flex;
  /* выводим блоки в одну строку */
  justify-content: space-between;
  /* Раскидываем блоки по краям */
  align-items: center;
  /* Выравнивание по вертикали */
}

.menu-top {
  width: 50%;
  /*помогает увидеть границы меню при настройке*/
  /* border: 1px solid red;  */
  margin: auto;
}

.menu_inner-top {
  margin: 25px 0;
  /* отступ сверху 25, а побокам 0 */
  display: flex;
  /* выводим блоки в одну строку */
  justify-content: space-between;
  /* Раскидываем блоки по краям */
  align-items: center;
  /* Выравнивание по вертикали */
}

.logo {
  @media (max-width: 700px) {
    align-items: left;
  }
}

#img_logo {
  width: 80%;
  max-width: 300px;
  @media (max-width: 700px) {
    align-self: start;
  }
}

.nav-top {
  display: flex;
  list-style: none;
  /* Убираем кругляжки у элементов списка */
  padding: 0;
  margin: auto;

  @media (max-width: 700px) {
    display: none;
  }
}

.nav-top li a {
  text-transform: uppercase;
  /* Делаем все буквы заглавными */
  color: #030303;
  /* Серый цвет текста */
  text-decoration: none;
  /* Убирает подчеркивание ссылки */
  padding: 10px 15px;
  /* отступы сверху 10px, а по бокам 20 */
  white-space: nowrap;
}

.nav-top li a:hover {
  /* Задание эффекта при наведении на ссылку */
  background-color: #ffc744;
  color: white;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

h1 {
  text-align: center;
  width: 80%;
  max-width: 1440px;
  margin: auto;
}

h2 {
  text-align: center;
}

.preamble {
  width: 90%;
  max-width: 1440px;
  text-align: center;
  margin: 20px auto;
}

.preamble span {
  color: #c71c1c;
  font-weight: 700;
}

.contacts {
  margin: auto;
  /* border: 2px solid red; */
}

.contacts img {
  text-align: center;
  margin: 20px auto;
}

.menu-footer {
  display: none;
  position: fixed;
  right: 2%;
  top: 70px;
  border: 2px solid white;
  padding: 5px 10px;

  align-self: center;
  height: 400x;
  min-width: 150px;
  border-radius: 16px;
  /* text-align: center; */
  padding-left: 5px;
  cursor: pointer;
  line-height: 28px;
  z-index: 1;
  user-select: none;
  transform: scale(1);
  border: 4px solid red;

  background-color: rgb(196, 223, 100);
}



.menu_inner-footer {
  margin: 10px 0;
  align-items: center;
  /* Выравнивание по вертикали */
}

.nav-footer {
  list-style: none;
  /* Убираем кругляжки у элементов списка */
  padding: 10px;
  margin: 0;
}

.nav-footer li {
  margin-bottom: 20px;
}

.nav-footer li a {
  text-transform: uppercase;
  /* Делаем все буквы заглавными */
  color: red;
  /* Серый цвет текста */
  text-decoration: none;
  /* Убирает подчеркивание ссылки */
  /* padding: 20px 15px; */
  /* отступы сверху 10px, а по бокам 20 */
  /* padding: 10px; */
  margin-bottom: 200px;
}

.nav-footer li a:hover {
  /* Задание эффекта при наведении на ссылку */
  background-color: #ffc744;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.burger-top img {
  width: 50px;
}

.burger-top :hover {
  /* Задание эффекта при наведении на ссылку */
  background-color: #ffc744;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.burger-top1 :hover {
  /* Задание эффекта при наведении на ссылку */
  background-color: #ffc744;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.blog_post {
  width: 90%;
  max-width: 700px;
  text-align: justify;
  margin: 20px auto;
}

.blog_post span {
  color: #c71c1c;
  font-weight: 700;
/*  добавочка*/
}
@viewport {
  user-zoom: fixed;
}
